<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- <div class="fadeIn first">
            <span>Connexion au Console Flip Management</span>
        </div> -->

        <form th:action="@{/login}"  method="post">
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="login"/>
            <input type="password" id="password" class="fadeIn second" name="password" placeholder="password"/>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


    </div>
</div>


</body>
</html>