<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <span>Connexion au Console Flip Management</span>
        </div>

        <form th:action="@{/login}" th:object="${loginRequest}" method="post">
            <span th:errors="*{username}"></span>
            <input type="text" id="login" class="fadeIn second" th:field="*{username}" placeholder="login"/>
            <span th:errors="*{password}"></span>
            <input type="password" id="password" class="fadeIn second" th:field="*{password}" placeholder="password"/>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


    </div>
</div>


</body>
</html>